.optionsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.resetButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
